@model List<Instructor>
@{
    ViewData["Title"] = "Index";
}


<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            @* <th scope="col">Department</th> *@
            <th scope="col">More Detail</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>

        </tr>
    </thead>
    <div  id="InstructorDetail">
    </div>
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <th scope="row">@item.Id</th>
                <td>
                    <a href="#" onclick="GetData(@item.Id)">
                        @item.Name
                    </a>
                </td>
                <td>@item.Address</td>
                @* <td> <partial name="_DetailPartial" model="item"></partial></td> *@
                @* @foreach (Department Dept in ViewBag.Dept_List)
                    @if (item.Dept_Id == Dept.Id)
                    {
                        <td>@Dept.Name</td>

                    } *@

                <td>
                    <a href="/Instructor/Detail/@item.Id" style="background-color: gold; color: black; padding: 4px 5px; text-decoration: none; border: none; border-radius: 5px; display: inline-block;">
                        Show This Instructor
                    </a>
                </td>
                <td>
                    <a href=" /Instructor/Edit/@item.Id" class="btn btn-primary">
                        Edit
                    </a>


                </td>
                <td>
                    <a href=" /Instructor/Delete/@item.Id" class="btn btn-outline-secondary">
                        Delete
                    </a>
                </td>


            </tr>

        </tbody>
    }
</table>
<a href="/Instructor/NewInstructor" class="btn btn-success">
    Add Instructor
</a>

<script>

    function GetData(id)
    {
        console.log(id);
        event.preventDefault();

        // Ajex Call
          $.ajax(
          {
              
              url: "/Instructor/DetailPartialView/"+id,
              success: function(result)
              {
                  console.log(result);
                  document.getElementById("InstructorDetail").innerHTML=result;
              }
    
          
          }
          );

    }

</script>                 